- breadcrumb :line, @line
/ PageHeader
= pageheader 'ligne',
             @line.name,
             'Lorem ipsum dolor sit amet',
             t('last_update', time: l(@line.updated_at, format: :short)) do

  / Below is secundary actions & optional contents
  .row
    .col-lg-12.text-right.mb-sm
      - @line.action_links.each do |link|
        = link_to link.href,
            method: link.method,
            data: link.data,
            class: 'btn btn-primary' do
              = link.content

/ PageContent
.page_content
  .container-fluid
    .row
      .col-lg-6.col-md-6.col-sm-12.col-xs-12
        = definition_list t('metadatas'),
          {  'ID Codif' => @line.get_objectid.short_id,
             'Activé' => (@line.deactivated? ? t('false') : t('true')),
             @line.human_attribute_name(:network) => (@line.network.nil? ? t('lines.index.unset') : @line.network.name),
             @line.human_attribute_name(:company) => (@line.company.nil? ? t('lines.index.unset') : @line.company.name),
             'Transporteur(s) secondaire(s)' => (@line.secondary_companies.nil? ? t('lines.index.unset') : @line.secondary_companies.collect(&:name).join(', ')),
             'Nom court' => @line.number,
             'Code public' => (@line.registration_number ? @line.registration_number : '-'),
             @line.human_attribute_name(:transport_mode) => (@line.transport_mode.present? ? t("enumerize.transport_mode.#{@line.transport_mode}") : '-'),
             @line.human_attribute_name(:transport_submode) => (@line.transport_submode.present? ? t("enumerize.transport_submode.#{@line.transport_submode}") : '-'),
             @line.human_attribute_name(:url) => (@line.url ? @line.url : '-'),
             @line.human_attribute_name(:seasonal) => (@line.seasonal? ? t('true') : t('false')),}
