doctype XML

kml xmlns="http://www.opengis.net/kml/2.2" 
  document
    - @line.commercial_stop_areas.each do |stop_area|
      placemark id="#{stop_area.id}" 
        name = stop_area.name
        stop_area_type = stop_area.area_type.underscore
        stop_area_type_label = t("area_types.label.#{stop_area.stop_area_type}")
        = (stop_area.position or stop_area.default_position).kml_representation.html_safe