doctype XML

kml xmlns="http://www.opengis.net/kml/2.2" 
  document
    - if @access_link.geometry
      placemark id="route_#{@access_link.id}" 
        name = @access_link.name
        = @access_link.geometry.kml_representation.html_safe

      placemark id="#{@access_link.access_point.id}"
        departure = "#{@access_link.link_orientation_type == 'access_point_to_stop_area'}"
        = @access_link.access_point.geometry.kml_representation.html_safe

      placemark id="#{@access_link.stop_area.id}" 
        arrival = "#{@access_link.link_orientation_type == 'access_point_to_stop_area'}"
        = @access_link.stop_area.geometry.kml_representation.html_safe
