doctype XML

kml xmlns="http://www.opengis.net/kml/2.2" 
  document
    - if @connection_link.geometry
      placemark id="route_#{@connection_link.id}" 
        name = @connection_link.name
        = @connection_link.geometry.kml_representation.html_safe

      placemark id="#{@connection_link.departure.id}" 
        departure true
        = @connection_link.departure.geometry.kml_representation.html_safe
        
      placemark id="#{@connection_link.arrival.id}" 
        arrival true
        = @connection_link.arrival.geometry.kml_representation.html_safe
