- breadcrumb :referential_stop_area, @referential, @stop_area
- page_header_content_for @stop_area

.page_content
  .container-fluid
    .row
      .col-lg-6.col-md-6.col-sm-12.col-xs-12
        = definition_list t('metadatas'),
          { t('id_reflex') => @stop_area.try(:user_objectid),
            Chouette::StopArea.tmf(:status) => stop_area_status(@stop_area.status),
            Chouette::StopArea.tmf(:comment) => @stop_area.try(:comment),
            Chouette::StopArea.tmf(:stop_area_type) => t("area_types.label.#{@stop_area.stop_area_type}"),
            Chouette::StopArea.tmf(:registration_number) => @stop_area.registration_number,
            Chouette::StopArea.tmf(:coordinates) => geo_data(@stop_area, @stop_area_referential),
            Chouette::StopArea.tmf(:zip_code) => @stop_area.zip_code,
            Chouette::StopArea.tmf(:city_name) => @stop_area.city_name }