.git
Dockerfile
.DS_Store
.gitignore
README.md

public/javascripts/i18n.js
public/javascripts/translations.js

/config/development_toolbar.rb
/coverage/*
/log/*
/node_modules/*
/public/assets/*
/public/packs-test/*
/public/packs/*
/public/uploads/*
/spec/fixtures/target_*
/tmp/*
/vendor/bundle/*
