.row.consolidated-view
  - @consolidated.lines.each do |line|
    = render partial: "consolidated_line", object: line
  .col-md-12
    = new_pagination @consolidated.paginated_lines, 'pull-right'

coffee:
  $('a.toggle-timetables').click (e)->
    e.preventDefault()
    $(e.target).toggleClass 'active'
    $(e.target).parents('.table').find('.detailed-timetables').toggleClass 'hidden'

  $('a.toggle-purchase-windows').click (e)->
    e.preventDefault()
    $(e.target).toggleClass 'active'
    $(e.target).parents('.table').find('.detailed-purchase-windows').toggleClass 'hidden'

  $('.route').find('.vehicle-journeys').each (i, e)->
    $e = $(e)
    $e.removeClass 'hidden'
    e.setAttribute 'data-original-height', $e.height()
    $e.height 0

  $('a.toggle-route').click (e)->
    e.preventDefault()
    $(e.currentTarget).toggleClass 'active'
    tab = $(e.currentTarget).parents('.route').find('.vehicle-journeys')
    if tab.hasClass 'open'
      tab.removeClass 'open'
      tab.height 0
    else
      tab.addClass 'open'
      tab.height tab.attr('data-original-height')
