- breadcrumb :line_referential, @line_referential
- if policy(@line_referential).synchronize?
  - content_for :page_header_actions do
    = link_to(t('actions.sync'), sync_line_referential_path(@line_referential), method: :post, class: 'btn btn-default')

.page_content
  .container-fluid
    .row
      .col-lg-12
          = table_builder_2 @line_referential.line_referential_syncs,
            [ \
              TableBuilderHelper::Column.new( \
                name: t('.synchronized'), \
                attribute: Proc.new { |sync| line_referential_sync_created_at(sync) }, \
              ), \
              TableBuilderHelper::Column.new( \
                name: t('.status'), \
                attribute: Proc.new { |sync| line_referential_sync_status(sync) }, \
              ), \
              TableBuilderHelper::Column.new( \
                name: t('.message'), \
                attribute: Proc.new { |sync| line_referential_sync_message(sync) }, \
              ), \
            ],
            sortable: false,
            cls: 'table'

    - unless @line_referential.line_referential_syncs.any?
      .row.mt-xs
        .col-lg-12
          = replacement_msg t('line_referential_syncs.search_no_results')
