doctype XML

kml xmlns="http://www.opengis.net/kml/2.2"
  document
    name = "#{h(Chouette::JourneyPattern.model_name.human)} : #{h(@journey_pattern.name)}"
    extendeddata
      - [:objectid, :object_version, :created_at, :updated_at, :name, :comment, :registration_number, :published_name].each do |prop|
        data name="#{prop.to_s}"
          value = h(@journey_pattern.send( prop))

      data name="route_objectid"
        value = h(@journey_pattern.route.objectid)

    - @journey_pattern.route.stop_points.each_with_index do |stop_point, index|
      - stop_area = stop_point.stop_area
      - if stop_area.geometry
        placemark id="#{stop_area.objectid}"
          name = h(stop_area.name)
          extendeddata
            - [ :objectid, :object_version, :name, :comment, :area_type, :registration_number, :nearest_topic_name, :fare_code, :longitude, :latitude, :long_lat_type, :country_code, :street_name, :mobility_restricted_suitability, :stairs_availability, :lift_availability, :int_user_needs].each do |prop|
              data name="#{prop.to_s}"
                value = h(stop_area.send( prop))

            - if stop_area.parent
              data name="parent_objectid"
                value = h(stop_area.parent.objectid)

            data name="stop"
              value = @journey_pattern.stop_points.include?( stop_point) ? "true" : "false"

          = stop_area.geometry_presenter.geometry.kml_representation.html_safe
