doctype XML

kml xmlns="http://www.opengis.net/kml/2.2"
  document
    name = "#{h(Chouette::Route.model_name.human)} : #{h(@route.name)}"
    placemark id="#{@route.objectid}"
      name = h(@route.name)
      extendeddata
        - [:direction, :wayback, :objectid, :object_version, :creator_id, :created_at, :updated_at, :name, :comment, :published_name, :number, :direction_text, :wayback_text].each do |prop|
          data name="#{prop.to_s}"
            value = h(@route.send( prop))

        data name="line_objectid"
          value = h(@route.line.objectid)

      = @route.geometry_presenter.geometry.kml_representation.html_safe
