= definition_list t('metadatas'),
  { \
    ComplianceControl.human_attribute_name(:name) => resource.name,
    ComplianceControl.human_attribute_name(:code) => resource.code,
    ComplianceControl.human_attribute_name(:criticity) => resource.criticity,
    ComplianceControl.human_attribute_name(:comment) => resource.comment,
    I18n.t('activerecord.attributes.compliance_control.predicate') => resource.predicate,
    I18n.t('activerecord.attributes.compliance_control.prerequisite') => resource.prerequisite,
  }.merge( \
    compliance_control_metadatas(resource) \
  )