/ PageHeader
= pageheader 'importer',
             t('.title'),
             '',
             '',
             ''

/ PageContent
.page_content.import_messages
  .container-fluid
    .row
      .col-lg-12
        = definition_list t('metadatas'),{ 'Bilan d\'import' => link_to(@import.parent.name, workbench_import_path(@import.parent.workbench, @import.parent) ),
            'Jeu de données associé' => ( @import.referential.present? ? link_to(@import.referential.name, referential_path(@import.referential)) : '-' ) }

      .row
        .col-lg-12
          h1
            span.status_icon = import_status(@import.status)
            span = t('.table_state', lines_imported: @import_resources.lines_imported , lines_in_zipfile: @import_resources.lines_in_zipfile )
        - if @import_resources.present?
          .col-lg-12
            h2 = t('.table_title')
          .col-lg-12
            = t('.table_explanation')
          .col-lg-12
            = table_builder_2 @import_resources.where(resource_type: :file),
              [ \
                TableBuilderHelper::Column.new( \
                  key: :name, \
                  attribute: 'name', \
                  sortable: false, \
                ), \
                TableBuilderHelper::Column.new( \
                  key: :status, \
                  attribute: Proc.new { |n| import_resource_status(n.status) }, \
                  sortable: false, \
                ), \
                TableBuilderHelper::Column.new( \
                  name: 'Résultat des tests' , \
                  attribute: Proc.new { |n| I18n.t('import_resources.index.metrics', n.metrics.deep_symbolize_keys) }, \
                  sortable: false, \
                ), \
                TableBuilderHelper::Column.new( \
                  name: 'Téléchargement' , \
                  attribute: Proc.new { |n| '<i class="fa fa-download" aria-hidden="true"></i>'.html_safe }, \
                  sortable: false, \
                  link_to: lambda do |import_resource| \
                    workbench_import_import_resource_import_messages_path(import_resource.import.workbench, import_resource.import, import_resource, format: 'csv' ) \
                  end \
                ), \
              ],
              links: [],
              cls: 'table has-search'
        - else
          .col-lg-12
            - @import.messages.each do |message|
              = I18n.t("import_messages.compliance_check_messages.#{message.message_key}")
