doctype XML

kml xmlns="http://www.opengis.net/kml/2.2" 
  document
    placemark id="route_#{@journey_pattern.id}" 
      name = @journey_pattern.name
      inactive true
      = @journey_pattern.route.geometry.kml_representation.html_safe

    - @journey_pattern.route.stop_points.each_with_index do |stop_point, index|
      - if stop_point.stop_area.geometry
        placemark id="#{stop_point.stop_area.id}" 
          name = "#{stop_point.stop_area.name} (#{index+1})"
          stop = @journey_pattern.stop_points.include?(stop_point) ? "true" : "false"
          - if stop_point.stop_area.id == @route.stop_areas.first.id
            departure true
          - elsif stop_point.stop_area.id == @route.stop_areas.last.id
            arrival true
          
          iconcode = icon_code(stop_point, @journey_pattern)
          = stop_point.stop_area.geometry.kml_representation.html_safe