/ FIXME #827
- current_organisation.workbenches.each do |workbench|
  h2 = link_to workbench.name, workbench
  p = t('workbenches.referential_count', count: workbench.referentials.count)

/ FIXME #823
- if false
  = title_tag Referential.model_name.human(count: 2)
  .referentials.paginated_content
    = paginated_content @referentials

- content_for :sidebar do
  ul.actions
    li = link_to t('reflex_data'), stop_area_referential_path(1)
    li = link_to t('codif_data'), line_referential_path(1)
    li = link_to t('calendars.standard_calendars'), calendars_path
    - if false
      li = link_to t('referentials.actions.new'), new_referential_path, class: 'add'
