<!-- FIXME #820 -->
<%= title_tag "Référentiel d'arrêts #{@stop_area_referential.name}" %>

<div class="summary">
</div>

<div class="panel panel-default">
  <ul class="list-group"  width="75%">
    <li class="list-group-item">
      <span class="badge"><%= @stop_area_referential.stop_areas.size %></span>
      <%= link_to Referential.human_attribute_name("stop_areas"), stop_area_referential_stop_areas_path(@stop_area_referential) %>
    </li>
  </ul>
</div>

<% content_for :sidebar do %>
<ul class="actions">
</ul>
<% end %>
