/ PageHeader
- header_params = ['jeux-de-donnees',
        t('compliance_controls.index.title'),
        '']
- header_params << link_to(t('compliance_controls.actions.new'), new_compliance_control_set_compliance_control_path(@compliance_control_set), class: 'btn btn-default')  if policy(ComplianceControl).create?
= pageheader(*header_params) do

  .row.mb-sm
    .col-lg-12.text-right

.page_content
  .container-fluid
    .row
      .col-lg-12
        /= render 'filters'
      .row
        .col-lg-12
          .select_table
            = table_builder_2 @compliance_controls,
                    [ \
                TableBuilderHelper::Column.new( \
                  key: :code, \
                  attribute: 'code' \
                ), \
                TableBuilderHelper::Column.new( \
                  key: :name, \
                  attribute: 'name', \
                  link_to: lambda do |compliance_control| \
                      compliance_control_set_compliance_control_path(@compliance_control_set, compliance_control) \
                    end \
                ), \
                TableBuilderHelper::Column.new( \
                  key: :criticity, \
                  attribute: 'criticity' \
                ), \
                TableBuilderHelper::Column.new( \
                  key: :comment, \
                  attribute: 'comment' \
                ), \
              ],
              sortable: true,
              cls: 'table has-filter has-search'


