.container
  .row
    .col-md-3.logo
      = image_tag "#{ChouetteIhm::Application.config.company_name.downcase}.png"

    .col-md-3
      ul
        li
          h4 = t("layouts.footer.support.title")

        li
          - if ChouetteIhm::Application.config.company_contact.include?("@")
            = mail_to "#{ChouetteIhm::Application.config.company_contact}", t("layouts.footer.contact.mail")
          - else
            = link_to t("layouts.footer.contact.mail"), "#{ChouetteIhm::Application.config.company_contact}", target: "_blank"

        / li
        /   = link_to t("layouts.footer.support.help"), help_path, target: "chouette_help"