/ PageContent
.page_content
  .container-fluid
    .row
      .col-lg-6.col-md-6.col-sm-12.col-xs-12
        = definition_list t('metadatas'),
            ComplianceControlSet.human_attribute_name(:name) => @compliance_control_set.name
    .row
      .col-lg-12
        h2
          = transport_mode("", "")
      .row
        .col-lg-12
          .select_table
            = table_builder_2 @coontrols, \
                    [ \
                TableBuilderHelper::Column.new( \
                  key: :code, \
                  attribute: 'code' \
                ), \
                TableBuilderHelper::Column.new( \
                  key: :name, \
                  attribute: 'name', \
                  link_to: lambda do |compliance_control| \
                      compliance_control_set_compliance_control_path(@compliance_control_set, compliance_control) \
                    end \
                ), \
                TableBuilderHelper::Column.new( \
                  key: :criticity, \
                  attribute: 'criticity' \
                ), \
                TableBuilderHelper::Column.new( \
                  key: :comment, \
                  attribute: 'comment' \
                ), \
              ],
              sortable: true,
              cls: 'table has-filter has-search'

