- breadcrumb :compliance_control_sets
- content_for :page_header_actions do
  - if policy(ComplianceControlSet).create?
    = link_to(t('compliance_control_sets.actions.new'), new_compliance_control_set_path, class: 'btn btn-default')

= render partial: 'layouts/navigation/page_header'

.page_content
  .container-fluid
    .row
      .col-lg-12
        = render 'filters'
      .row
        .col-lg-12
          .select_table
            = table_builder_2 @compliance_control_sets,
              [ \
                TableBuilderHelper::Column.new( \
                  key: :name, \
                  attribute: 'name', \
                  link_to: lambda do |compliance_control_set| \
                      compliance_control_set_path(compliance_control_set) \
                    end \
                ), \
                TableBuilderHelper::Column.new( \
                  key: :assigned_to, \
                  attribute: 'assignment' \
                ), \
                TableBuilderHelper::Column.new( \
                  key: :owner_jdc, \
                  attribute: Proc.new {|n| n.organisation.name } \
                ), \
                TableBuilderHelper::Column.new( \
                  key: :control_numbers, \
                  attribute: 'control_numbers' \
                ), \
                TableBuilderHelper::Column.new( \
                  key: :updated_at, \
                  attribute: Proc.new { |n| l(n.updated_at, format: :long) if n.updated_at }, \
                ) \
              ],
              sortable: true,
              links: [:show],
              cls: 'table has-filter has-search'

          = new_pagination @compliance_control_sets, 'pull-right'
    - unless @compliance_control_sets.any?
      .row.mt-xs
        .col-lg-12
          = replacement_msg t('compliance_control_sets.search_no_results')


= javascript_pack_tag 'date_filters'
