//----------//
//  Layout  //
//----------//

html
  box-sizing: border-box

  *
    box-sizing: inherit

body
  padding-top: 60px
  font-family: $base-font-family
  font-size: $base-font-size
  line-height: $line-height
  color: $darkgrey
  background-color: #fff
