- header_params = ['map-marker',
                   t('.title'),
                   '']
- header_params << link_to(t('actions.add'), new_organisation_api_key_path, class: 'btn btn-default')  if policy(Api::V1::ApiKey).create?
= pageheader(*header_params) do


- if @api_keys.any?
  .row
    .col-lg-12
      = table_builder_2 @api_keys,
        [ \
          TableBuilderHelper::Column.new( \
            key: :name, \
            attribute: 'name', \
            link_to: lambda do |api_key| \
              organisation_api_key_path(api_key) \
            end \
          ), \
          TableBuilderHelper::Column.new( \
            key: :token, \
            attribute: 'token' \
          ), \
        ],
        cls: 'table has-search'

      = new_pagination @api_keys, 'pull-right'
