//-----------------//
//  JP Collection  //
//-----------------//

#journey_patterns
  .table-2entries
    .t2e-head
      > .td
        position: relative
        padding-left: 25px
        height: 75px /* Default value */

        > .headlined
          &:before
            margin-left: -25px
            padding-left: 25px

        > div > span
          position: relative

          &:before
            content: ''
            display: block
            width: 10px
            height: 10px
            background-color: #fff
            border: 2px solid $blue
            border-radius: 50%
            position: absolute
            z-index: 5
            left: -20px
            top: 50%
            margin-top: -5px

          &:after
            content: ''
            display: block
            width: 4px
            margin: 0 3px
            background-color: rgba($grey, 0.5)
            position: absolute
            z-index: 3
            top: -6px
            left: -20px
            bottom: -6px

        > .headlined > span
          &:after
            top: calc((1.4em + 18px) * -1)

        &:last-child > div > span
          &:after
            bottom: 50%

        &:nth-child(2) > div > span
          &:after
            top: 50%
