//---------------//
//  Time Tables  //
//---------------//

#periods
  .t2e-head > .th
    height: 135px
    text-align: left
    border-color: $darkgrey
    border-top-width: 2px

    > .strong
      padding-top: 123px
      transform: translateY(-1.4em)

  .t2e-item
    .th
      padding: 6px 0 0 0
      border-color: $darkgrey
      border-top-width: 2px

      > .monthName
        padding: 0 0 6px 8px

    .monthDays
      white-space: nowrap

      .day
        display: inline-block
        width: 34px
        padding: 20px 0 6px 0

        &.last_wday
          &:not(:last-child)
            border-right: 2px solid

          &:before
            content: attr(data-wday)
            display: block
            text-align: left
            color: rgba($grey, 0.5)
            padding-bottom: 10px

        .dayname
          display: block
          text-align: center
          text-transform: capitalize
          padding-bottom: 2px

        .daynumber
          display: block
          margin: 0 auto
          width: 24px
          height: 24px
          line-height: 24px
          text-align: center
          font-weight: bold
          border-radius: 50%
          background-color: transparent

          &.included
            background-color: rgba($gold, 0.7)

    > .td-group
      width: 34px
      > .td
        border-right: 1px solid rgba($grey, 0.5)

      &.last_wday
        &:not(:last-child) > .td
          border-right: 2px solid $darkgrey

      &.out_from_daytypes
        background-image: linear-gradient(45deg, rgba($grey, 0.15) 0%, rgba($grey, 0.15) 49%, rgba($grey, 0.5) 50%, rgba($grey, 0.15) 51%, rgba($grey, 0.15) 99%, rgba($grey, 0.15) 100%)
        background-size: 25px 25px

      > .td
        &.in_periods
          background-color: rgba($gold, 0.7)
          border-left-color: rgba($gold, 0.7)
          border-right-color: rgba($gold, 0.7)

          &.start_period
            border-left-color: rgba($grey, 0.5)
          &.end_period
            border-right-color: rgba($grey, 0.5)

  .period_manager
    display: block
    height: auto
    word-wrap: normal
    white-space: nowrap
    position: absolute
    left: 8px
    top: 6px
    z-index: 5
