doctype XML

kml xmlns="http://www.opengis.net/kml/2.2"
  document
    name = "#{h(Chouette::Line.model_name.human)} : #{h(@line.name)}"

    placemark id="#{@line.objectid}"
      name = h(@line.name)
      extendeddata
        - [ :transport_mode, :objectid, :created_at, :updated_at, :object_version, :name, :number, :published_name, :registration_number, :comment, :mobility_restricted_suitability, :int_user_needs].each do |prop|
          data name="#{prop.to_s}"
            value = h(@line.send( prop))

        data name="company_objectid"
          value = h(@line.company.objectid)

        data name="network_objectid"
          value = h(@line.network.objectid)

      = @line.geometry_presenter.geometry.kml_representation.html_safe
