doctype XML

kml xmlns="http://www.opengis.net/kml/2.2"
  documentd
    - @stop_areas.where("latitude is not null and longitude is not null").each do |stop_area|
      placemark id="#{stop_area.id}"
        name = stop_area.name
        stop_area_type = stop_area.stop_area_type
        stop_area_type_label = t("area_types.label.#{stop_area.stop_area_type}")
        = stop_area.geometry.kml_representation.html_safe