doctype XML

kml xmlns="http://www.opengis.net/kml/2.2"
  document
    - if !params["children"].nil?
      - @stop_area.children.each do |child|
        placemark id="#{child.id}"
          name = child.name
          stop_area_type = child.stop_area_type
  	      = (child.position or child.default_position).kml_representation.html_safe

    - elsif !params["routing"].nil?
      - @stop_area.routing_stops.each do |child|
        placemark id="#{child.id}"
          name = child.name
  	      stop_area_type = child.stop_area_type
  	      = (child.position or child.default_position).kml_representation.html_safe

    - else
      placemark id="#{@stop_area.id}"
        name = @stop_area.name
        stop_area_type = @stop_area.stop_area_type
        = (@stop_area.position or @stop_area.default_position).kml_representation.html_safe