doctype XML
workbook xmlns="urn:schemas-microsoft-com:office:spreadsheet" xmlns:html="http://www.w3.org/TR/REC-html40" xmlns:o="urn:schemas-microsoft-com:office:office" xmlns:ss="urn:schemas-microsoft-com:office:spreadsheet" xmlns:x="urn:schemas-microsoft-com:office:excel" 
  worksheet ss:name="Sheet1" 
    table
      row
        - @column_names.each do |column_name|
          cell
            data ss:type="String" = column_name
      - vehicle_journey_at_stops_matrix = (@vehicle_journeys.collect{ |vj| vj.vehicle_journey_at_stops.collect(&:departure_time).collect{|time| time.strftime("%H:%M")} }).transpose
      - @route.stop_points.each_with_index do |stop_point, index|
        row
          cell
            data ss:type="Number" = stop_point.id
          cell
            data ss:type="String" = stop_point.stop_area.name
          - vehicle_journey_at_stops_matrix[index].each do |vehicle_journey_at_stop|
            cell
              data ss:type="String" = vehicle_journey_at_stop
