//-----------//
//  Buttons  //
//-----------//

.btn
  &.btn-primary
    background-color: $darkblue
    border-color: darken($darkblue, 2.5%)
    color: #fff

    &:hover, &:focus, &.focus, &:active, &.active,
    .open > .btn-primary.dropdown-toggle
      background-color: darken($darkblue, 2.5%)
      border-color: darken($darkblue, 2.5%)
      color: #fff
