//-------//
// FORMS //
//-------//

input
  &::-moz-placeholder
    color: rgba($grey, 0.65)
    font-style: italic
  &::-webkit-input-placeholder
    color: rgba($grey, 0.65)
    font-style: italic
  &:-ms-input-placeholder
    color: rgba($grey, 0.65)
    font-style: italic
  &::-ms-input-placeholder
    color: rgba($grey, 0.65)
    font-style: italic

.control-label.required
  abbr[title], abbr[data-original-title]
    border: none
    color: $red

.form-control
  &.form-control-link
    &:hover, &:focus
      // Reset default link styles
      text-decoration: none
      color: inherit
      // Add custom
      color: #555
      background-color: #f5f5f5

// Validations
.control-label
  &.is-required
    &:after
      content: ' *'
      display: inline
      color: #a94442

.form-control
  &:required
    &:focus:invalid
      border-color: #d43f3a
      box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 6px #d9534f
    &:focus:valid
      border-color: #4cae4c
      box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 6px #5cb85c

// Search bar
.search_bar
  position: relative
  width: 100%

  > .form-control
    border-radius: 4px
    padding-right: 31px

    &:first-child, &:last-child
      border-radius: 4px

  .input-group-btn
    position: absolute
    top: 0
    bottom: 0
    right: 0
    z-index: 2
    width: auto

    > .btn
      margin: 0
      padding: 6px 9px
      border: none
      border-radius: 0
      background-color: transparent
      height: 100%

// Checkbox
$cbx-size: 20px
.checkbox
  position: relative
  display: block
  height: $cbx-size
  width: $cbx-size
  margin: 0 auto

  > input
    &[type='checkbox']:not(:checked), &[type='checkbox']:checked
      position: absolute
      margin: 0
      left: -9999px

      + label
        position: relative
        cursor: pointer
        display: inline-block
        height: $cbx-size
        margin: 0
        padding-left: $cbx-size

        &:before
          content: ''
          position: absolute
          left: 0
          top: 50%
          margin-top: -($cbx-size / 2)
          width: $cbx-size
          height: $cbx-size
          border: 2px solid $blue
          background-color: #fff
          border-radius: 3px

        &:after
          content: '\f00c'
          font: normal normal normal 14px/1 FontAwesome
          font-size: inherit
          text-rendering: auto
          -webkit-font-smoothing: antialiased
          position: absolute
          left: 50%
          top: 50%
          margin-top: -($cbx-size / 2)
          margin-left: -($cbx-size / 2)
          font-size: $cbx-size - 2px
          width: $cbx-size
          line-height: $cbx-size
          text-align: center
          color: #fff

    &[type='checkbox']:checked + label:before
      background-color: $blue

// Form filter
.form.form-filter
  display: block
  position: relative
  background-color: lighten($blue, 58%)
  padding-right: 167px
  min-height: 42px

  + .select_table, + .table > thead > tr > th
    border-top: 2px solid

  > *
    display: inline-block
    vertical-align: top
    padding: 7px 15px

  > .form-group
    border-right: 1px solid #fff
    margin: 0
    min-height: 42px

    .control-label
      font-weight: 700
      color: $blue
      line-height: 34px
      margin: 0
      padding: 0 10px 0 0
      vertical-align: middle

    > .form-control
      display: inline-block
      width: auto

  > .actions
    position: absolute
    right: 15px
    top: 50%
    padding: 0
    margin-top: -13px
    z-index: 1

    .btn
      color: $blue
      font-weight: 700
      background-color: transparent
      padding: 2px 20px
      transition: 0.2s

      &.btn-link
        padding: 2px 10px

        &:hover, &:focus
          text-decoration: none

      &.btn-default
        border: 1px solid $blue

        &:hover, &:focus, &.focus, &.active
          background-color: $blue
          color: #fff
          transition: 0.2s

  > .form-group
    position: relative

    &.togglable
      padding-right: 44px
      cursor: pointer

      > .control-label
        cursor: pointer
        visibility: top
        line-height: 42px - 14px
        padding: 0

      > .form-control
        display: block
        width: 100%

      &:hover, &.open
        background-color: rgba($blue, 0.4)
        color: #fff

        > .control-label, &:before
          color: #fff

      &:before
        content: '\f078'
        font: normal normal normal 14px/1 FontAwesome
        font-size: inherit
        text-rendering: auto
        -webkit-font-smoothing: antialiased
        position: absolute
        right: 15px
        top: 0
        height: 40px
        width: 15px
        color: $blue
        text-align: center
        line-height: 40px

      &.open:before
        content: '\f077'
        color: #fff

      > .control-label + *
        display: none

      &.open > .control-label + *
        display: block

    > .checkbox_list
      margin: 0
      padding: 5px 0
      position: absolute
      z-index: 555
      top: 100%
      left: 0
      min-width: 100%
      max-height: 300px
      background-color: #fff
      color: $darkgrey
      box-shadow: 0 0 3px rgba($darkgrey, 0.25)
      white-space: nowrap
      overflow: auto

      $cbx-size-xs: 14px
      > .checkbox
        width: 100%
        height: auto
        margin: 0

        > label
          position: relative
          display: block
          padding: 5px 15px
          min-height: $cbx-size-xs

          &:hover
            background-color: whitesmoke

          > input
            &[type='checkbox']:not(:checked), &[type='checkbox']:checked
              position: absolute
              left: -9999px
              margin: 0

              + span
                display: block
                padding-left: $cbx-size-xs + 10
                padding-right: $cbx-size-xs + 10
                position: relative

                > .fa:last-child
                  position: absolute
                  top: 50%
                  right: 0
                  margin-top: -7px

                &:before
                  content: ''
                  position: absolute
                  left: 0
                  top: 50%
                  margin-top: -($cbx-size-xs / 2)
                  width: $cbx-size-xs
                  height: $cbx-size-xs
                  border: 2px solid $blue
                  background-color: #fff
                  border-radius: 3px

                &:after
                  content: '\f00c'
                  font: normal normal normal 14px/1 FontAwesome
                  font-size: inherit
                  text-rendering: auto
                  -webkit-font-smoothing: antialiased
                  position: absolute
                  left: 0
                  top: 50%
                  margin-top: -($cbx-size-xs / 2)
                  font-size: $cbx-size-xs - 2px
                  width: $cbx-size-xs
                  line-height: $cbx-size-xs
                  text-align: center
                  color: #fff

            &[type='checkbox']:checked + span:before
              background-color: $blue

// Form group date
.form-group.date
  .form-inline
    letter-spacing: -0.31em
    text-rendering: optimizespeed
    font-weight: 300

    select.date
      display: inline-block
      letter-spacing: normal
      word-spacing: normal
      text-rendering: auto
      vertical-align: middle
      border-radius: 0
      border-right: none
      border-left: none
      width: 40%

      &:first-child
        border-top-left-radius: 4px
        border-bottom-left-radius: 4px
        border-left: 1px solid #ccc
        border-right: 1px dashed #ccc
        width: 27%

      &:last-child
        border-top-right-radius: 4px
        border-bottom-right-radius: 4px
        border-right: 1px solid #ccc
        border-left: 1px dashed #ccc
        width: 33%

// Nested fields
.nested-fields
  margin: 0
  padding: 0 5px
  border-top: 1px solid rgba($grey, 0.5)

  &:first-child
    border-top: none

  .wrapper
    display: table
    table-layout: fixed
    width: 100%

    > div
      display: table-cell
      padding: 10px

      &:last-child
        width: 34px

      .form-group
        margin: 0
        padding: 0

  .remove_fields
    height: 34px
    // width: 34px
    line-height: 34px
    text-align: center
    color: $red

    &:hover, &:focus
      text-decoration: none
      color: darken($red, 10%)

.nested-head
  margin: 0
  padding: 0 5px

  + .nested-fields
    border-top: 2px solid $darkgrey

  .wrapper
    display: table
    table-layout: fixed
    width: 100%

    > div
      display: table-cell
      padding: 0 10px 10px 10px

      &:last-child
        width: 34px

      .form-group
        margin: 0
        padding: 0

        .control-label
          margin: 0
          padding: 0

.nested-linker
  padding: 10px 15px 0 15px
  text-align: right
  border-top: 1px solid rgba($grey, 0.5)

// Subforms
.subform
  margin: 0 0 15px 0

  > .form-group
    margin: 0
    padding: 10px 15px

    .control-label
      text-align: left
      margin: 0 0 10px 0
      padding: 0

      + [class*='col']
        width: 100%
        padding: 0
