= f.input :stop_area_id

/ = link_to_add_association t("routes.actions.add_stop_point"), f, :stop_points
/ = link_to t('routes.actions.new_stop_point'), new_referential_stop_area_path(@referential), target: '_blank'
