= title_tag t('routes.edit.title', route: @route.name )

/ #CUSTOM_map style='height:250px'
/   = javascript_tag do
/     | var map = new ol.Map({
/     |   target: 'CUSTOM_map',
/     |   layers: [
/     |     new ol.layer.Tile({
/     |       source: new ol.source.OSM()
/     |     })
/     |   ],
/     |   view: new ol.View({
/     |     center: ol.proj.fromLonLat([37.41, 8.82]),
/     |     zoom: 4
/     |   })
/     | });

.row
  .col-lg-8.col-lg-offset-2.col-md-8.col-md-offset-2.col-sm-8.col-sm-offset-2
    == render 'form'
