/ PageHeader
- header_params = ['jeux-de-donnees',
        t('compliance_check_sets.index.title'),
        '']
= pageheader(*header_params) do

  / Below is secundary actions & optional contents (filters, ...)
  .row.mb-sm
    .col-lg-12.text-right

/ PageContent
.page_content
  .container-fluid
    .row
      .col-lg-12
        = render 'filters'
      .row
        .col-lg-12
          .select_table
            = table_builder_2 @compliance_check_sets,
                    [ \
                TableBuilderHelper::Column.new( \
                  key: :ref, \
                  attribute: 'referential_id' \
                ), \
                TableBuilderHelper::Column.new( \
                  key: :creation_date, \
                  attribute: Proc.new { |n| l(n.created_at, format: :long) if n.created_at } \
                ), \
                TableBuilderHelper::Column.new( \
                  key: :associated_object, \
                  attribute: Proc.new{|n| n.referential.name}, \
                  link_to: lambda do |referential| \
                    referential_path(referential, current_workbench_id: params[:id]) \
                  end \
                ), \
                TableBuilderHelper::Column.new( \
                  key: :assignment, \
                  attribute: 'parent_type' \
                ), \
                TableBuilderHelper::Column.new(\
                  key: :control_game, \
                  attribute: Proc.new{ |n| (n.compliance_control_set.name) if n.compliance_control_set} \
                ), \
              ],
                    sortable: true,
                    links: [:show],
                    cls: 'table has-filter has-search'
    - unless @compliance_check_sets.any?
      .row.mt-xs
        .col-lg-12
          = replacement_msg t('compliance_check_sets.search_no_results')


