- breadcrumb :compliance_check_sets, @workbench

.page_content
  .container-fluid
    .row
      .col-lg-12
        = render 'filters'
      .row
        .col-lg-12
          .select_table
            = table_builder_2 @compliance_check_sets,
              [ \
                TableBuilderHelper::Column.new( \
                  key: :ref, \
                  attribute: 'id', \
                  link_to: lambda do |compliance_check_set| \
                    workbench_compliance_check_set_path(compliance_check_set.workbench_id, compliance_check_set.id) \
                  end \
                ), \
                TableBuilderHelper::Column.new( \
                  key: :creation_date, \
                  attribute: Proc.new { |n| l(n.created_at, format: :long) if n.created_at } \
                ), \
                TableBuilderHelper::Column.new( \
                  key: :associated_object, \
                  if: ->(compliance_check_set){ compliance_check_set.referential.present? }, \
                  attribute: Proc.new{|n| n.referential.name}, \
                  link_to: lambda do |compliance_check_set| \
                    referential_path(compliance_check_set.referential_id) \
                  end \
                ), \
                TableBuilderHelper::Column.new( \
                  key: :assigned_to, \
                  attribute: 'parent_type' \
                ), \
                TableBuilderHelper::Column.new(\
                  key: :compliance_control_set, \
                  attribute: 'name', \
                  link_to: lambda do |compliance_check_set| \
                    executed_workbench_compliance_check_set_path(compliance_check_set.workbench_id, compliance_check_set.id) \
                  end \
                ), \
              ],
              sortable: true,
              cls: 'table has-filter has-search'
    - unless @compliance_check_sets.any?
      .row.mt-xs
        .col-lg-12
          = replacement_msg t('compliance_check_sets.search_no_results')
