- breadcrumb :compliance_check_set, @workbench, @compliance_check_set
- page_header_content_for @compliance_check_set

/ PageContent
.page_content.import_messages
  .container-fluid
    .row
      .col-lg-6.col-md-6.col-sm-12.col-xs-12
        = definition_list( t('metadatas'),
          { I18n.t("compliance_check_sets.show.metadatas.referential") => (@compliance_check_set.referential.nil? ? '' : link_to(@compliance_check_set.referential.name, referential_path(@compliance_check_set.referential)) ),
            I18n.t("compliance_check_sets.show.metadatas.referential_type") => 'Jeu de données',
            I18n.t("compliance_check_sets.show.metadatas.compliance_check_set_executed") => link_to(@compliance_check_set.name, executed_workbench_compliance_check_set_path(@compliance_check_set.workbench_id, @compliance_check_set)),
            I18n.t("compliance_check_sets.show.metadatas.compliance_control_owner") => @compliance_check_set.organisation.name,
            I18n.t("compliance_check_sets.show.metadatas.import") => '' })
    .row
      .col-lg-12
        h1
          span.status_icon = compliance_check_set_status(@compliance_check_set.status)
          span = t('.table_state', lines_status: @compliance_check_set.lines_status , lines_in_compliance_check_set: @compliance_check_set.lines_in_compliance_check_set )
      .col-lg-12
        h2 = t('.table_title')
      .col-lg-12
        = t('.table_explanation')

    .row
      .col-lg-12
        = table_builder_2 @compliance_check_set.compliance_check_resources,
          [ \
            TableBuilderHelper::Column.new( \
              key: :name, \
              attribute: 'name' \
            ), \
            TableBuilderHelper::Column.new( \
              key: :status, \
              attribute: Proc.new { |n| compliance_check_resource_status(n.status) } \
            ), \
            TableBuilderHelper::Column.new( \
              key: :metrics, \
              attribute: Proc.new { |n| I18n.t('compliance_check_sets.show.metrics', n.metrics.deep_symbolize_keys) } \
            ), \
            TableBuilderHelper::Column.new( \
              key: :download , \
              attribute: Proc.new { |n| '<i class="fa fa-download" aria-hidden="true"></i>'.html_safe }, \
              sortable: false, \
              link_to: lambda do |compliance_check_resource| \
                workbench_compliance_check_set_compliance_check_messages_path(@compliance_check_set.workbench, @compliance_check_set, format: 'csv', compliance_check_resource_id: compliance_check_resource.id  ) \
              end \
            ) \
          ],
          sortable: false, \
          links: [],
          cls: 'table has-search'
