//-----------------------------//
//  sBoiv (custom icon fonts)  //
//-----------------------------//

.sb
  display: inline-block
  font-family: 'sboiv' !important
  speak: none
  font-style: normal
  font-weight: normal
  font-variant: normal
  text-transform: normal
  line-height: 1
  font-size: inherit
  text-rendering: auto
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale

.sb-update-vj:before
  content: '\e900'
