doctype XML

kml xmlns="http://www.opengis.net/kml/2.2"
  document
    name = h( I18n.t("area_types.#{@area_type.underscore}") )

    - @stop_areas.select { |sa| sa.latitude && sa.longitude}.each do |stop_area|
      placemark id="#{stop_area.objectid}"
        name =  h(stop_area.name)
        extendeddata
          - [:objectid, :object_version, :created_at, :updated_at, :name, :comment, :area_type, :registration_number, :nearest_topic_name, :fare_code, :longitude, :latitude, :long_lat_type, :country_code, :street_name, :mobility_restricted_suitability, :stairs_availability, :lift_availability, :int_user_needs].each do |prop|
            data name="#{prop.to_s}"
              value = h(stop_area.send( prop))

          - if stop_area.parent
            data name="parent_objectid"
              value = h(stop_area.parent.objectid)

        = stop_area.geometry_presenter.geometry.kml_representation.html_safe
