- breadcrumb :export, @workbench, @export

- page_header_content_for @export

.page_content
  .container-fluid
    .row
      .col-lg-6.col-md-6.col-sm-12.col-xs-12
        - metadatas = { I18n.t("activerecord.attributes.export.type") => @export.object.class.human_name }
        - metadatas = metadatas.update({I18n.t("activerecord.attributes.export.status") => @export.status})
        - metadatas = metadatas.update Hash[*@export.visible_options.map{|k, v| [t("activerecord.attributes.export.#{@export.object.class.name.demodulize.tableize.singularize}.#{k}"), @export.display_option_value(k, self)]}.flatten]
        - metadatas = metadatas.update({I18n.t("activerecord.attributes.export.file") => link_to(t("actions.download"), @export.file.url)})
        = definition_list t('metadatas'), metadatas

    .row
      .col-lg-12
        .error_messages
          = render 'shared/iev_interfaces/messages', messages: @export.messages

    - if @export.children.any?
      .row
        .col-lg-12
          = table_builder_2 @export.children,
            [ \
              TableBuilderHelper::Column.new( \
                name: 'Nom du jeu de données', \
                attribute: 'name', \
                sortable: false, \
                link_to: lambda do |export| \
                  referential_path(export.referential) if export.referential.present? \
                end \
              ), \
              TableBuilderHelper::Column.new( \
                key: :status, \
                attribute: Proc.new { |n| export_status(n.status) }, \
                sortable: false, \
                link_to: lambda do |export| \
                  workbench_export_export_resources_path(export.workbench_id, export) \
                end \
              ), \
              TableBuilderHelper::Column.new( \
                name: 'Contrôle STIF', \
                attribute: '', \
                sortable: false, \
              ), \
              TableBuilderHelper::Column.new( \
                name: 'Contrôle organisation', \
                attribute: '', \
                sortable: false, \
              ) \
            ],
            cls: 'table',
            overhead: [ \
              {}, \
              { \
                title: "#{@export.children_succeedeed} jeu de données validé sur #{@export.children.count} présent(s) dans l'archive", \
                width: 1, \
                cls: "#{@export.export_status_css_class} full-border" \
              }, { \
                title: 'Bilan des jeux de contrôles d\'export <span title="Lorem ipsum..." class="fa fa-lg fa-info-circle text-info"></span>', \
                width: 2, \
                cls: 'overheaded-default colspan="2"' \
              } \
            ]
